body {
	font-family: "Montserrat";
}

#title {
	background-color: #cea872;
}

.container-fluid {
	padding: 3% 15%;
}

.navbar {
	background: #ffedcb;
	padding: 1% 15%;
}

.navbar-brand {
	font-family: "Ubuntu";
	font-weight: 500;
	font-size: 2.5rem;
	color: #005b4b !important;
}

.nav-link {
	color: #005b4b !important;
}

.nav-link:hover {
	/* border-bottom: 1px solid #005B4B; */
	background: #005b4b;
	color: #ffedcb !important;
}

h1 {
	font-family: "Montserrat";
	font-weight: 900;
	font-size: 3rem;
	line-height: 1.5;
}

.iphone {
	transform: rotate(25deg);
	filter: drop-shadow(2px 2px 6px black);
  max-width: 12rem;
}

.download-btn{
	margin-top: 2rem;
  color: #005b4b !important;
	background-color: #ffedcb;
  border-color: #ffedcb !important;
	box-shadow: 1px 1px 2px black;
}

.download-btn:hover{
  color: #ffedcb !important;
  background-color: #000000 !important;

  border-color: #000000 !important;
}


#features {
	background: #ffedcb;
}

.feature-box {
	text-align: center;
	padding: 5%;
}

.feature-box h3{
	font-weight: 700;
	font-size: 1.2rem;
}

.feature-icons{
	color: #cea872;
}

#testimonials{
	background-color: #cea872;
	text-align: center;
}
#testimonials h2{
	font-weight: 700;
}

.testimonial-img{
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}

#press{
	background-color: #cea872;
	text-align: center;
	padding-bottom: 3%;
}

.press-logos {
	width: 15%;
	margin: 1rem 1rem 2rem ;
}