body, html {
	font-family: "Montserrat";

}

#title {
	background-color: #ff006a;
}

.container-fluid {
	padding: 3% 10%;
}

.navbar {
	background: #FFE3EA;
	padding: 1% 15%;
}

.navbar-brand {
	font-family: "Ubuntu";
	font-weight: 500;
	font-size: 2.5rem;
	color: #ff006a !important;
}

.nav-link {
	color: #ff006a !important;
}

.nav-link:hover {
	/* border-bottom: 1px solid #005B4B; */
	background: #ff006a;
	color: #FFE3EA !important;
}

#title h1 {
	font-weight: 900;
	font-size: 3rem;
	line-height: 1.5;
	margin-bottom: 2rem;
	color: #fff;
	filter: drop-shadow(1px 1px 3px black);

}

.iphone {
	transform: rotate(25deg);
	filter: drop-shadow(2px 2px 6px black);
  max-width: 10rem;
	/* position: absolute; */
}

.download-btn{
  color: #000000 !important;
	background-color: #fff;
  border-color: #fff !important;
	box-shadow: 1px 1px 2px black;
}

.download-btn:hover{
  color: #fff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}


#features {
	background: #FFE3EA;
	position: relative;
	z-index: 2;
}

.feature-box {
	text-align: center;
	padding: 5%;
}

.feature-box h3{
	font-weight: 700;
	font-size: 1.2rem;
}

.feature-icons{
	color: #ff006a;
}

#testimonials{
	background-color: #ff006a;
	text-align: center;
}
#testimonials h2{
	font-weight: 700;
}

.testimonial-img{
	width: 5rem;
	height: 5rem;
	border-radius:50%;
	margin: 20px;
	border: 3px solid #FFE3EA;
}

.logo-text{
	font-family: "Ubuntu";
	font-weight: 700;
	font-size: larger;
}

#press{
	background-color: #ff006a;
	text-align: center;
	padding-bottom: 3%;
}

.press-logos {
	width: 15%;
	margin: 1rem 1rem 2rem ;
}

.carousel-item{
	height: 20%;
	padding: 5% 15%;

}

#pricing{
	background-color: #FFE3EA;
	text-align: center;
	padding: 5rem;
}
#pricing h2{
	font-weight: 700;
}

.card-title{
	color: #ff006a;
}

.card-header{
	color: #ffffff;
	background-color: #ff006a;

}

.card-body {
	background-color: #fff;

}

.card-btn{
  color: #fff !important;
	background-color: #ff006a;
  border-color: #ff006a !important;
	box-shadow: 1px 1px 2px black;
}

.card-btn:hover{
  color: #fff !important;
  background-color: #7C0011 !important;
  border-color: #7C0011 !important;
}


#cta,footer{
	background-color: #ff006a;

}

#cta{
	padding: 5% 15%;
}

.cta-text{
	font-weight: 900;
	font-size: 3rem;
	line-height: 1.5;
	margin-bottom: 1rem;
	filter: drop-shadow(1px 1px 3px black);
}


.cta-btn{
  /* color: #ff006a !important; */
	background-color: #fff;
  border-color: #fff !important;
	box-shadow: 1px 1px 2px black;
}

.cta-btn:hover{
  color: #fff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}

.contact{
	padding: 8% 4%;
}

#contact {
	background-color: #FFE3EA;

}

.form-btn{
	color: #fff !important;
	background-color: #ff006a;
  border-color: #ff006a !important;
	box-shadow: 1px 1px 2px black;
}

.form-btn:hover{
  color: #fff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}

.contact-info {
	background-color: #ff006a;
	color: #fff;
	padding: 7%;
}

#footer{
	padding: 5% 15%;
	color: #fff;
}


@media screen and (max-width: 768px) {
	.iphone {
		transform: rotate(25deg);
		filter: drop-shadow(2px 2px 6px black);
		max-width: 10rem;
		padding: 3rem 0;
		/* position: absolute; */
	}

	#title h1 {
		text-align: center;
		font-size: 2.5rem;
		
	}

	.download-container{
		display: flex;
		justify-content: center;
	}

	.download-btn{
		font-size: 1.1rem;
		margin: 1rem 0.5rem ;
	}
	


}