body, html {
	font-family: "Montserrat";

}

#title {
	background-color: #cea872;
}

.container-fluid {
	padding: 3% 10%;
}

.navbar {
	background: #ffedcb;
	padding: 1% 15%;
}

.navbar-brand {
	font-family: "Ubuntu";
	font-weight: 500;
	font-size: 2.5rem;
	color: #005b4b !important;
}

.nav-link {
	color: #005b4b !important;
}

.nav-link:hover {
	/* border-bottom: 1px solid #005B4B; */
	background: #005b4b;
	color: #ffedcb !important;
}

h1 {
	font-weight: 900;
	font-size: 3rem;
	line-height: 1.5;
}

.iphone {
	transform: rotate(25deg);
	filter: drop-shadow(2px 2px 6px black);
  max-width: 10rem;
	/* position: absolute; */
}

.download-btn{
	margin-top: 2rem;
  color: #967441 !important;
	background-color: #ffedcb;
  border-color: #ffedcb !important;
	box-shadow: 1px 1px 2px black;
}

.download-btn:hover{
  color: #ffedcb !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}


#features {
	background: #ffedcb;
	position: relative;
	z-index: 2;
}

.feature-box {
	text-align: center;
	padding: 5%;
}

.feature-box h3{
	font-weight: 700;
	font-size: 1.2rem;
}

.feature-icons{
	color: #967441;
}

#testimonials{
	background-color: #cea872;
	text-align: center;
}
#testimonials h2{
	font-weight: 700;
}

.testimonial-img{
	width: 5rem;
	height: 5rem;
	border-radius:50%;
	margin: 20px;
}

#press{
	background-color: #cea872;
	text-align: center;
	padding-bottom: 3%;
}

.press-logos {
	width: 15%;
	margin: 1rem 1rem 2rem ;
}

.carousel-item{
	height: 20%;
	padding: 5% 15%;

}

#pricing{
	background-color: #ffedcb;
	text-align: center;
	padding: 5rem;
}
#pricing h2{
	font-weight: 700;
}

.card-header{
	color: #ffffff;
	background-color: #967441;

}

.card-body {
	background-color: #cea872;

}

.btn-card{
  color: #005b4b !important;
	background-color: #ffedcb;
  border-color: #ffedcb !important;
	box-shadow: 1px 1px 2px black;
}

.btn-card:hover{
  color: #ffedcb !important;
  background-color: #000000 !important;

  border-color: #000000 !important;
}

#cta,footer{
	background-color: #cea872;

}

.cta-btn{
  /* color: #967441 !important; */
	background-color: #ffedcb;
  border-color: #ffedcb !important;
	box-shadow: 1px 1px 2px black;
}

.cta-btn:hover{
  color: #ffedcb !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}

.contact{
	padding: 8% 4%;
}

#contact {
	background-color: #ffedcb;

}

.form-btn{
	color: #000000 !important;
	background-color: #cea872;
  border-color: #cea872 !important;
	box-shadow: 1px 1px 2px black;
}

.form-btn:hover{
  color: #ffedcb !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}

.contact-info {
	background-color: #cea872;
	padding: 7%;
}




/* @media screen and (max-width: 768px) {
	.iphone {
		display: none;
	}
} */